* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Container {
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
}
.Logo {
  display: flex;
  align-items: center;
  background-color: brown;
  margin-left: 3vh;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  margin-right: 3vh;
}
