* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Container {
  width: 100%;
<<<<<<< HEAD
  height: 100%;
=======
  height: 110%;
>>>>>>> a0bf6a0314b94b72f59b144ef8093330172d1371
}
img {
  width: 100%;
  height: 100%;
}
