.img {
  width: 6vw;
  height: 10vh;
}
.img:hover {
  width: 7vw;
  height: 12vh;
  transition: 1.2s;
}
.textToo {
  text-align: center;
  font-size: 2rem;
}
.AmitanNer {
  font-size: 2rem;
  text-align: center;
}
