.Container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50%;
  margin: auto;
  font-size: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.fadeIn {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOut ease 1.5s;
  -webkit-animation: fadeOut ease 1.5s;
  -moz-animation: fadeOut ease 1.5s;
  -o-animation: fadeOut ease 1.5s;
  -ms-animation: fadeOut ease 1.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.seeAll {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.myIcon {
  height: 150%;
  width: auto;
  margin-bottom: -2vh;
  color: #0085bf;
  transition: 0.2s;
}
.myIcon:hover {
  color: #04445f;
  transition: 0.2s;
  height: 150%;

  width: auto;
}
.myIcon:active {
  color: #0085bf;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 10vh;
  width: auto;
  opacity: 1;
  margin-top: 2vh;
}
.text:hover {
  opacity: 1;
}
