.middleContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
  height: 2vh;
  border-bottom: 1px solid black;
  align-items: center;
}

.Text1 {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
  width: 16.6%;
}
