.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}
.Container > .active {
  border-bottom: 5px solid black;
}
.Link {
  padding-left: 3vh;
  font-size: 2rem;
  text-decoration: none;
}
.Link:nth-of-type(1) {
  color: #0085bf;
}
.Link:nth-of-type(2) {
  color: #005bcd;
}
.Link:nth-of-type(3) {
  color: #3e44e8;
}
.Link:nth-of-type(4) {
  color: #4d3cf8;
}
