.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.Container > .active {
  border-bottom: 5px solid black;
}
.Link {
  padding: 2vh;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s;
}
.Link:nth-of-type(1) {
  color: #0085bf;
}
.Link:nth-of-type(2) {
  color: #005bcd;
}
.Link:nth-of-type(3) {
  color: #3e44e8;
}
.Link:nth-of-type(4) {
  color: #4d3cf8;
}
.Link:nth-of-type(1):hover {
  /* color: #0085bf; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: -2px;
  transition: 0.3s;
}
.Link:nth-of-type(2):hover {
  /* color: #005bcd; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: -2px;
  transition: 0.3s;
}
.Link:nth-of-type(3):hover {
  /* color: #3e44e8; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: -2px;
  transition: 0.3s;
}
.Link:nth-of-type(4):hover {
  /* color: #4d3cf8; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: -2px;
  transition: 0.3s;
}
.Link:nth-of-type(1):active {
  /* color: #0085bf; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: 0px;
  transition: 0.1s;
}
.Link:nth-of-type(2):active {
  /* color: #005bcd; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: 0px;
  transition: 0.1s;
}
.Link:nth-of-type(3):active {
  /* color: #3e44e8; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: 0px;
  transition: 0.1s;
}
.Link:nth-of-type(4):active {
  /* color: #4d3cf8; */
  text-shadow: 0.5px 0.5px 5px #9085ff;
  margin-top: 0px;
  transition: 0.1s;
}
.profileContainer {
  width: 2.7vw;
  height: 6%;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileIcon {
  width: 2.8rem;
  height: auto;
  color: #7568fa;
  transition: 0.2s;
}
.profileIcon:hover {
  color: #5c4ef1;
  transition: 0.2s;
}

.profileIcon:active {
  transition: 0.2s;
  color: #211980;
}
