.sda {
  width: 300px;
  height: 652px;
  background-color: #f9f9f9;
}
.img {
  width: 992px;
  height: 652px;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.layer {
  position: absolute;
  display: flex;
  top: 50px;
  background-color: aqua;
  left: 120px;
  justify-content: center;
  width: 1292px;

  height: 652px;
}
.form {
  width: 300px;
  height: 30%;
}
