* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.logo {
  height: 7.5vh;
  width: auto;
}
.myText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5vh;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.bigText {
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
}
.smallText {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
