* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 62.5%;
}
.logo {
  height: 9vh;
}
.logo {
  height: 7.5vh;

  width: auto;
}
.myText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5vh;

  color: #0a0078;
}

.wrapper {
  display: flex;
  align-items: center;
}
.bigText {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.smallText {
  font-size: 1.28rem;
  margin: 0;
  padding: 0;

  width: 36vw;
}
.bigText {
  font-size: 4vh;
}
.smallText {
  font-size: 2.56vh;
}
