.Container {
  display: flex;
<<<<<<< HEAD
  height: auto;
=======
  height: 30%;
>>>>>>> d89a2a8af37932c2f044722a7c55245f29fdc2fb
  font-size: 2rem;
  justify-content: space-evenly;
  width: 100%;
}
.garchig {
  font-size: 2.2rem;
  color: #363636;
}
.text {
  font-size: 1.7rem;
}
.holboos {
  width: 33%;
  text-align: center;
}
.holbooBarih {
  width: 33%;
  text-align: center;
}
.social {
  width: 33%;
  text-align: center;
}
.img {
  width: 7vw;
  height: 7vh;
  color: blue;
}
