.Container {
  display: flex;

  height: auto;

  height: 30%;
  font-size: 2rem;
  justify-content: space-evenly;
  width: 100%;
}
.garchig {
  font-size: 2.2rem;
  color: #363636;
}
.text {
  font-size: 1.7rem;
}
.holboos {
  width: 33%;
  text-align: center;
}
.holbooBarih {
  width: 33%;
  text-align: center;
}
.social {
  width: 33%;
  text-align: center;
}
.img {
  width: 7vw;
  height: 7vh;
  color: blue;
}
