.Container {
  display: flex;
  height: 30vh;
  font-size: 2rem;
  justify-content: space-evenly;
  width: 100%;
}
.garchig {
  font-size: 2.2rem;
  padding-top: 1.2vw;
  color: #363636;
}
.text {
  font-size: 1.7rem;
  padding-top: 0.2vw;
}
.holboos {
  width: 33%;
  text-align: center;
}
.holbooBarih {
  width: 33%;
  text-align: center;
}
.social {
  width: 33%;
  text-align: center;
}
.img {
  width: 7vw;
  height: 7vh;
  color: blue;
}
