.Container {
  width: 100%;
  height: 100%;
}
.Nav {
  width: 100%;
}
.main {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
.layer {
  height: 100vh;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-direction: column;
}
.Category {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}
.BodyText {
  width: 100%;
  height: 100%;
}
.LastAdded {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  padding-bottom: 4vh;
  padding-top: 4vh;
}
.Contact {
  width: 100%;
  height: 100%;
  padding-top: 4vh;
}
.footer {
  width: 100%;
  height: 100%;
}
.middleText {
  font-size: 2.4rem;
  text-align: center;
  color: #363636;
}
.Bttn {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  border: none;
  margin-top: 2vh;
  background-color: #00d1b2;
  border-radius: 2vw;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid #75f3e0;
}
.Bttn:hover {
  background-color: #0aa58e;
  transition: 0.2s;
}
.Bttn:active {
  background-color: #00d1b2;
}
.Bttn:focus {
  outline: none;
}

.san {
  font-size: 1.8rem;
  color: #4a4a4a;
}
